<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Server</title>
</head>
<body>
        <h1> Server</h1>

        <a href = "/server/consume/client/1">Consume client 1</a>
        <a href = "/server/consume/client/2">Consume client 2</a>
        <a href = "/server/consume/client/3">Consume client 3</a>
        <a href = "/server/send/client/1">send to  client 1</a>
        <a href = "/server/send/client/2">send to  client 2</a>
        <a href = "/server/send/client/3"> send to client 3</a>
</body>
</html>