<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Spring Framework Guru</title>
</head>
<body>

<table>

    <tr >
        <a href="/springMQ-0.0.1-SNAPSHOT/client/1"> send to  Client 1</a>
    </tr>
    <br>
    <tr>
        <a href = "/springMQ-0.0.1-SNAPSHOT/client/2"> send to  Client 2</a>
    </tr>
    <br>
    <tr>
        <a href = "/springMQ-0.0.1-SNAPSHOT/client/3">  send to  Client 3</a>
    </tr>
    <br>
    <tr>
        <a href = "/springMQ-0.0.1-SNAPSHOT/server"> server</a>
    </tr>

</table>

</body>
</html>